@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color:white;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}

.glass_bg{
    background-color: rgba(0, 0, 0, 0.823);
    backdrop-filter: blur(4px);
}

.hidescrollbar::-webkit-scrollbar{
    display: none;
}

/* loader */
.loader {
    width: 27px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid rgb(14, 14, 15);
    border-right-color: rgb(13, 119, 225);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}